@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>It's too late. Your personal details have already made me millions. I have sold them to deep web contacts within China, Iran, Russia, and South Korea. This is it, my friend. Your privacy is no more.</p>

