@page
@model MegaDeskWebPage.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="title">Edit</h1>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.Id" />
            <input type="hidden" asp-for="Quote.CustomerName" />
            <input type="hidden" asp-for="Quote.DeliveryOptionId" />
            <input type="hidden" asp-for="Quote.DeskId" />
            <input type="hidden" asp-for="Quote.Price" />
            <input type="hidden" asp-for="Quote.QuoteDate" />
            <input type="hidden" asp-for="Quote.Desk.Id" />
            <input type="hidden" asp-for="Quote.Desk.DeskMaterialId" />
            <input type="hidden" asp-for="Quote.Desk.DeskMaterial.Id" />
            <input type="hidden" asp-for="Quote.Desk.DeskMaterial.Cost" />
            <input type="hidden" asp-for="Quote.DeliveryOption.Id" />
            <input type="hidden" asp-for="Quote.DeliveryOption.Cost" />
            <input type="hidden" asp-for="Quote.DeliveryOption.MinSize" />
            <input type="hidden" asp-for="Quote.DeliveryOption.ShippingTime" />
            <div class="form-group">
                <label asp-for="Quote.DeliveryOption.DeliveryType" class="control-label"></label>
                <select asp-for="Quote.DeliveryOption.DeliveryType" class="form-control" asp-items="ViewBag.DeliveryOption"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Desk.NumberOfDrawers" class="control-label"></label>
                <input asp-for="Quote.Desk.NumberOfDrawers" class="form-control">
                <span asp-validation-for="Quote.Desk.NumberOfDrawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Desk.Depth" class="control-label"></label>
                <input asp-for="Quote.Desk.Depth" class="form-control">
                <span asp-validation-for="Quote.Desk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Desk.Width" class="control-label"></label>
                <input asp-for="Quote.Desk.Width" class="form-control">
                <span asp-validation-for="Quote.Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Desk.DeskMaterial.MaterialName" class="control-label"></label>
                <select asp-for="Quote.Desk.DeskMaterial.MaterialName" class="form-control" asp-items="ViewBag.DeskMaterial"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
